.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #111;
  height: 30px;
  z-index: 1;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
  width: 80px;
  position: fixed;
  left: 20px;
}

.nav__avatar {
  position: fixed;
  width: 30px;
  object-fit: contain;
  width: 30px;
  right: 20px;
}